<h1 class="text align center">Demo for Routing</h1>

<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a routerLink="" class="navbar-brand"> akaimarine<img src="../assets/imagesdemo/ship1.png" width=60px;
          height="45px" alt=""> </a>


      <div class=" collapse navbar-collapse" id="mynavbar"></div>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="" class="nav-link"> </a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"> <a routerLink="/home" class="nav-link" style="color: rgba(45,45,45,255);">HOME </a></li>
        <li class="nav-item"> <a routerLink="/projects" class="nav-link" style="color: rgba(45,45,45,255);">PROJECTS
          </a></li>
        <li class="nav-item"> <a routerLink="/aboutus" class="nav-link" style="color: rgba(45,45,45,255);">ABOUT </a>
        </li>
        <li class="nav-item"> <a routerLink="/services" class="nav-link" style="color: rgba(45,45,45,255);">SERVICES</a>
        </li>
        <li class="nav-item"> <a routerLink="/pricing" class="nav-link" style="color: rgba(45,45,45,255);">PRICING</a>
        </li>
        <li class="nav-item"> <a routerLink="/contactus" class="nav-link" style="color: rgba(45,45,45,255);">CONTACT
          </a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="header">

  <h2 style="font-size: 50px;"> Contact </h2>
  <p> A K A I M A R I N E </p>

</div>

<router-outlet></router-outlet>



<router-outlet></router-outlet>